
.topnav
{
    overflow:hidden;
position:-webkit-sticky;
position:fixed;
top:0;
  width:100%;
  height:50px;
 background-color:#202020; 
 list-style: none;
}

.topnav img
{
  width:50px;
  float:left;
  
  padding:5px 5px;
}
#navbar
{
    
    height:50px;
    float:right;
    margin: 8px 10px;
   
    
}
 #navbar li
{
   
    display:inline-block;
border-radius:25px;
}


  
  #navbar li:hover {
    background-color: #0070c0;  
    box-shadow:  2px 2px 3px 0 rgba(0, 51, 85, 0.5),
    -2px -2px 3px 0 rgba(59, 59, 59, 0.2), 
inset -2px -2px 3px 0 rgba(59, 59, 59, 0.2),
inset 2px 2px 3px 0 rgba(5, 5, 5, 0.5);
  }
  
  #navbar  li a
{
    
  text-decoration: none;
  float:right;
  font-size:14px;
  font-weight: bold;
 
  margin:5px 10px;
  text-align:center;

  color:white;
}

#navbar  li a:hover
{
    color:#ebf1f5;
    text-shadow:1rem 1rem 1rem #0118299d;
}

img{
    width: 20%;
    flex-direction: column-reverse ;
    justify-content:center ;
    align-content: flex-end;
    flex-wrap: wrap;
    
}

